<br><br>

<p>
<div class="form-group has-success">
  <label class="col-sm-2 control-label" for="inputSuccess">
    司机姓名
  </label>
  <div class="col-sm-6">
    <input type="text" class="form-control" id="inputSuccess" value=<%=@driver.name%>>
  </div>
</div>
</p>
<br><br>

<p>
<div class="form-group has-success">
  <label class="col-sm-2 control-label" for="inputSuccess">
    手机号码
  </label>
  <div class="col-sm-6">
    <input type="text" class="form-control" id="inputSuccess" value=<%=@driver.mobile%>>
  </div>
</div>
</p>
<br><br>

<p>
<div class="form-group has-success">
  <label class="col-sm-2 control-label" for="inputSuccess">
    所属车队
  </label>
  <div class="col-sm-6">
    <input type="text" class="form-control" id="inputSuccess" value=<%=@driver.fleet_id%>>
  </div>
</div>
</p>
<br><br>

<p>
<div class="form-group has-success">
  <label class="col-sm-2 control-label" for="inputSuccess">
    身份证号码
  </label>
  <div class="col-sm-6">
    <input type="text" class="form-control" id="inputSuccess" value=<%=@driver.id_card%>>
  </div>
</div>
</p>
<br><br>