
<center>

  <br>
  <br>
  <h1>Detail</h1>
  <br>
  <br>

  <div style="border: 1px solid #000000; width: 1000px; height: 1000px; margin: 0 auto;" >

    <br>
    <%= render 'fleets/shared/dropdown_menu'%>
    <br>
    <br>
    <%= render 'fleets/shared/fleet_detail' %>

    <% if @drivers.present? %>

        <br>
        <br>
        <h1>所有司机的信息</h1>
        <%= render 'drivers/shared/driver_list' %>


    <% else %>
      <h1>本车队暂无司机</h1>
      <br><br>
    <% end %>


  </div>

</center>