
<center>

  <br>
  <br>
  <h1>Edit</h1>
  <br>
  <br>

  <div style="border: 1px solid #000000; width: 1000px; height: 1000px; margin: 0 auto;" >
    <br>
    <%= render 'fleets/shared/dropdown_menu'%>
    <br>
    <br>
    <%= render partial: 'fleets/shared/form', locals: {submit_name: 'update'} %>
  </div>

</center>

