<div class="btn-group" style="float:right;margin-right:20px;">
  <button type="button" class="btn btn-default">菜单工具</button>
  <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">切换下拉菜单</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="/home/index?page_tag=false">回到主页 显示全部</a></li>
    <li class="divider"></li>
    <li><a href="/fleets/new">新建车队</a></li>
  </ul>
</div>